

.portfolio-container {
	width:940px;
	margin-left:40px;
	margin-right:10px;
}
.portfolio-items {
	margin:10px 0;
	margin-left: 50px;
	}
.portfolio-items li {
	display:inline-block;
	margin:10px;
	float:left;
	list-style:none;
	position:relative
}
.portfolio-items li img {
	/*display:block;*/
	width:450px;
	height:150px;
	padding:6px;
	background:#eee;
	border:1px solid #fff;
	border-radius:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.35);
	-moz-box-shadow:0 0 5px rgba(0,0,0,0.35);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.35)
}

/*FIN STYLE.css*/

.portfolio-items li div.caption h3,.portfolio-items li div.caption2 h3,.portfolio-items li div.caption3 h3,.portfolio-items li div.caption4 h3,.portfolio-items li div.caption5 h3,.portfolio-items li div.caption6 h3,.portfolio-items li div.caption7 h3,.portfolio-items li div.caption8 h3,.portfolio-items li div.caption9 h3,.portfolio-items li div.caption10 h3,.portfolio-items li div.caption11 h3,.portfolio-items li div.caption12 h3,.portfolio-items li div.caption13 h3,.portfolio-items li div.caption14 h3,.portfolio-items li div.caption15 h3{
	font-weight:700;
	font-size:13px;
	text-transform:uppercase;
	padding-bottom:5px;
	margin-bottom:10px;
	border-bottom:1px solid #aaa;
	text-shadow:1px 1px 1px #303857}
.portfolio-items li div.caption,.portfolio-items li div.caption2,.portfolio-items li div.caption3,.portfolio-items li div.caption4,.portfolio-items li div.caption5,.portfolio-items li div.caption6,.portfolio-items li div.caption7,.portfolio-items li div.caption8,.portfolio-items li div.caption9,.portfolio-items li div.caption10,.portfolio-items li div.caption11,.portfolio-items li div.caption12,.portfolio-items li div.caption13,.portfolio-items li div.caption14,.portfolio-items li div.caption15 {
	display:block;
	background:#000;
	background:rgba(0,0,0,0.7);
	color:#fff;
	font-family:"Helvetica",Arial,sans-serif;
	font-weight:400;
	font-size:11px;
	padding:10px;
	position:absolute;
	overflow:hidden;
	text-shadow:1px 1px 1px #303857;
	opacity:0;
	filter:alpha(opacity = 0);
	-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out }
.portfolio-items li:hover div.caption,.portfolio-items li:hover div.caption2,.portfolio-items li:hover div.caption3,.portfolio-items li:hover div.caption4,.portfolio-items li:hover div.caption5,.portfolio-items li:hover div.caption6,.portfolio-items li:hover div.caption7,.portfolio-items li:hover div.caption8,.portfolio-items li:hover div.caption9,.portfolio-items li:hover div.caption10,.portfolio-items li:hover div.caption11,.portfolio-items li:hover div.caption12,.portfolio-items li:hover div.caption13,.portfolio-items li:hover div.caption14,.portfolio-items li:hover div.caption15 {
	width:430px;
	height:130px;
	opacity:1;
	filter:alpha(opacity = 80)
}
.portfolio-items li div.caption {
	top:7px;
	right:7px;
	width:0;
	height:0
}

.portfolio-items li div.caption2 {
	top:7px;
	left:7px;
	width:0;
	height:0
}
.portfolio-items li div.caption3 {
	bottom:7px;
	right:7px;
	width:0;
	height:0
}
.portfolio-items li div.caption4 {
	bottom:7px;
	left:7px;
	width:0;
	height:0
}
.portfolio-items li div.caption5 {
	top:7px;
	left:7px;
	width:0;
	height:130px
}
.portfolio-items li div.caption6 {
	top:7px;
	right:7px;
	width:0;
	height:130px
}
.portfolio-items li div.caption7 {
	top:7px;
	left:7px;
	width:181px;
	height:0
}
.portfolio-items li div.caption8 {
	bottom:7px;
	right:7px;
	width:181px;
	height:0
}
.portfolio-items li div.caption9 {
	bottom:7px;
	right:7px;
	width:181px;
	height:130px
}
.portfolio-items li div.caption10 {
	bottom:7px;
	right:7px;
	width:0;
	height:0;
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg)
}
.portfolio-items li:hover div.caption10 {
	bottom:7px;
	right:7px;
	width:181px;
	height:130px;
	opacity:1;
	filter:alpha(opacity = 80);
	-moz-transform:rotate(0deg);
	-webkit-transform:rotate(0deg)
}
.portfolio-items li div.caption11 {
	top:7px;
	left:7px;
	width:0;
	height:0;
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg)
}
.portfolio-items li:hover div.caption11 {
	bottom:7px;
	right:7px;
	width:181px;
	height:130px;
	opacity:1;
	filter:alpha(opacity = 80);
	-moz-transform:rotate(0deg);
	-webkit-transform:rotate(0deg)
}
.portfolio-items li div.caption12 {
	bottom:7px;
	right:7px;
	width:181px;
	height:130px
}
.caption12 {
	background-color:rgba(146,96,91,0.5);
	filter:alpha(opacity=0);
	opacity:0;
	-webkit-transition:all .3s ease-in .4s;
	-moz-transition:all .3s ease-in .4s;
	-o-transition:all .3s ease-in .4s;
	-ms-transition:all .3s ease-in .4s;
	transition:all .3s ease-in .4s
}
.caption12 h3 {
	filter:alpha(opacity=0);
	opacity:0;
	-webkit-transform:scale(10);
	-moz-transform:scale(10);
	-o-transform:scale(10);
	-ms-transform:scale(10);
	transform:scale(10);
	-webkit-transition:all .3s ease-in-out .1s;
	-moz-transition:all .3s ease-in-out .1s;
	-o-transition:all .3s ease-in-out .1s;
	-ms-transition:all .3s ease-in-out .1s;
	transition:all .3s ease-in-out .1s
}
.caption12 p {
	filter:alpha(opacity=0);
	opacity:0;
	-webkit-transform:scale(10);
	-moz-transform:scale(10);
	-o-transform:scale(10);
	-ms-transform:scale(10);
	transform:scale(10);
	-webkit-transition:all .3s ease-in-out .2s;
	-moz-transition:all .3s ease-in-out .2s;
	-o-transition:all .3s ease-in-out .2s;
	-ms-transition:all .3s ease-in-out .2s;
	transition:all .3s ease-in-out .2s
}
.caption12 a.pf_button {
	-webkit-transform:translateY(100px);
	-moz-transform:translateY(100px);
	-o-transform:translateY(100px);
	-ms-transform:translateY(100px);
	transform:translateY(100px)
}
.caption12:hover h3 {
	filter:alpha(opacity=100);
	opacity:1;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
	-webkit-transition-delay:.2s;
	-moz-transition-delay:.2s;
	-o-transition-delay:.2s;
	-ms-transition-delay:.2s;
	transition-delay:.2s 
}
.caption12:hover p {
	filter:alpha(opacity=100);
	opacity:1;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
	-webkit-transition-delay:.2s;
	-moz-transition-delay:.2s;
	-o-transition-delay:.2s;
	-ms-transition-delay:.2s;
	transition-delay:.2s
}
.caption12:hover a.pf_button {
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-o-transform:translateY(0px);
	-ms-transform:translateY(0px);
	transform:translateY(0px)
}
.portfolio-items li div.caption13 {
	bottom:7px;
	right:7px;
	width:181px;
	height:130px
}
.caption13 {
	background-color:rgba(146,96,91,0.5);
	filter:alpha(opacity=0);
	opacity:0;
	-webkit-transition:all .3s ease-in .4s;
	-moz-transition:all .3s ease-in .4s;
	-o-transition:all .3s ease-in .4s;
	-ms-transition:all .3s ease-in .4s;
	transition:all .3s ease-in .4s
}
.caption13 h3 {
	filter:alpha(opacity=0);
	opacity:0;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-o-transform:scale(0);
	-ms-transform:scale(0);
	transform:scale(0);
	-webkit-transition:all .3s ease-in-out .1s;
	-moz-transition:all .3s ease-in-out .1s;
	-o-transition:all .3s ease-in-out .1s;
	-ms-transition:all .3s ease-in-out .1s;
	transition:all .3s ease-in-out .1s
}
.caption13 p {
	filter:alpha(opacity=0);
	opacity:0;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-o-transform:scale(0);
	-ms-transform:scale(0);
	transform:scale(0);
	-webkit-transition:all .3s ease-in-out .2s;
	-moz-transition:all .3s ease-in-out .2s;
	-o-transition:all .3s ease-in-out .2s;
	-ms-transition:all .3s ease-in-out .2s;
	transition:all .3s ease-in-out .2s
}
.caption13:hover h3 {
	filter:alpha(opacity=100);
	opacity:1;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
	-webkit-transition-delay:.2s;
	-moz-transition-delay:.2s;
	-o-transition-delay:.2s;
	-ms-transition-delay:.2s;
	transition-delay:.2s
}
.caption13:hover p {
	filter:alpha(opacity=100);
	opacity:1;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
	-webkit-transition-delay:.2s;
	-moz-transition-delay:.2s;
	-o-transition-delay:.2s;
	-ms-transition-delay:.2s;
	transition-delay:.2s
}
.portfolio-items li div.caption14 {
	bottom:7px;
	right:7px;
	width:181px;
	height:130px
}
.caption14 {
	background-color:rgba(146,96,91,0.5);
	filter:alpha(opacity=0);
	opacity:0;
	-webkit-transition:all .3s ease-in .4s;
	-moz-transition:all .3s ease-in .4s;
	-o-transition:all .3s ease-in .4s;
	-ms-transition:all .3s ease-in .4s;
	transition:all .3s ease-in .4s
}
.caption14 h3 {
	filter:alpha(opacity=0);
	opacity:0;
	-webkit-transform:translateY(-200px);
	-moz-transform:translateY(-200px);
	-o-transform:translateY(-200px);
	-ms-transform:translateY(-200px);
	transform:translateY(-200px);
	-webkit-transition:all .6s ease-in-out;-moz-transition:all .6s ease-in-out;-o-transition:all .6s ease-in-out;-ms-transition:all .6s ease-in-out;
	transition:all .6s ease-in-out
}
.caption14 p {
	filter:alpha(opacity=0);
	opacity:0;
	font-size: 11px;
	text-indent: 2px;
	-webkit-transform:translateY(200px);
	-moz-transform:translateY(200px);
	-o-transform:translateY(200px);
	-ms-transform:translateY(200px);
	transform:translateY(200px);
	-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out
}
.caption14:hover h3 {
	filter:alpha(opacity=100);
	opacity:1;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
	-webkit-transition-delay:.2s;
	-moz-transition-delay:.2s;
	-o-transition-delay:.2s;
	-ms-transition-delay:.2s;
	transition-delay:.2s
}
.caption14:hover p {
	filter:alpha(opacity=100);
	opacity:1;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
	-webkit-transition-delay:.2s;
	-moz-transition-delay:.2s;
	-o-transition-delay:.2s;
	-ms-transition-delay:.2s;
	transition-delay:.2s
}
.portfolio-items li div.caption15 {
	bottom:7px;
	right:7px;
	width:181px;
	height:130px
}
.caption15 {
	background-color:rgba(146,96,91,0.5);
	filter:alpha(opacity=0);
	opacity:0;
	-webkit-transition:all .3s ease-in .4s;
	-moz-transition:all .3s ease-in .4s;
	-o-transition:all .3s ease-in .4s;
	-ms-transition:all .3s ease-in .4s;
	transition:all .3s ease-in .4s
}
.caption15 h3 {
	filter:alpha(opacity=0);
	opacity:0;
	-webkit-transform:translateX(200px);
	-moz-transform:translateX(200px);
	-o-transform:translateX(200px);
	-ms-transform:translateX(200px);
	transform:translateX(200px);
	-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out
	}
.caption15 p {
	filter:alpha(opacity=0);
	opacity:0;
	-webkit-transform:translateX(-200px);
	-moz-transform:translateX(-200px);
	-o-transform:translateX(-200px);
	-ms-transform:translateX(-200px);
	transform:translateX(-200px);
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out
}
.caption15:hover h3 {
	filter:alpha(opacity=100);
	opacity:1;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
	-webkit-transition-delay:.2s;
	-moz-transition-delay:.2s;
	-o-transition-delay:.2s;
	-ms-transition-delay:.2s;
	transition-delay:.2s
}
.caption15:hover p {
	filter:alpha(opacity=100);
	opacity:1;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
	-webkit-transition-delay:.2s;
	-moz-transition-delay:.2s;
	-o-transition-delay:.2s;
	-ms-transition-delay:.2s;
	transition-delay:.2s
}

.ctn_blue {
	background:#0877CC!important;
	background:rgba(8,119,204,0.85)!important;
	color:#fff!important
}
.ctn_blue .pf_button {
	border:1px solid #0666B4!important
}

.pf_button {
	display:inline-block;
	padding:5px 13px!important;
	margin:10px 5px!important;
	margin-right:0!important;
	margin-bottom: 13px;
	border:solid 1px #000;
	float:right;
	background:#7abcff;
	background:-moz-linear-gradient(top,#7abcff 0,#60abf8 44%,#4096ee 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#7abcff),color-stop(44%,#60abf8),color-stop(100%,#4096ee));
	background:-webkit-linear-gradient(top,#7abcff 0,#60abf8 44%,#4096ee 100%);
	background:-o-linear-gradient(top,#7abcff 0,#60abf8 44%,#4096ee 100%);
	background:-ms-linear-gradient(top,#7abcff 0,#60abf8 44%,#4096ee 100%);
	background:linear-gradient(top,#7abcff 0,#60abf8 44%,#4096ee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7abcff',endColorstr='#4096ee',GradientType=0);
	color:#eee;
	font:100% Arial,Helvetica,sans-serif;
	text-align:center;
	text-shadow:0 1px 0 rgba(55,121,188,.5);
	text-decoration:none!important;
	vertical-align:middle;
	zoom:1;
	display:inline;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.3);
	-moz-box-shadow:0 1px 0 rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.3);
	box-shadow:0 1px 0 rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.3)
}
.pf_button:hover {
	background:#469cf2
}